In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [2]:
data = pd.read_csv('dataset_renovables_sintetico.csv')
data

,Planta Energética,Tipo de Energía,Producción (MW),Región,Temperatura (°C),Luz Solar (Horas),Velocidad del Viento (m/s),Humedad (%),Costo de Producción ($/MW),Año de Instalación,Supervivencia (Rentable en 10 años)
0,SolarFlow,Hidráulica,379.0,Norte,15.6,5.8,17.0,59.7,3204.0,2010.0,0.0
1,SunWave,NaN,834.0,Oeste,33.4,5.9,NaN,42.7,NaN,2020.0,0.0
2,EcoWind,Solar,557.0,Norte,20.5,13.9,11.7,NaN,869.0,2010.0,1.0
3,SolarFlow,Hidráulica,901.0,Este,11.7,6.9,23.1,NaN,2318.0,2005.0,1.0
4,NaN,NaN,118.0,Norte,NaN,NaN,14.7,24.3,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...
495,SolarFlow,Solar,NaN,Este,13.9,7.0,15.2,51.9,2114.0,2015.0,1.0
496,HydroFlux,NaN,679.0,Sur,NaN,10.2,NaN,87.2,2040.0,2005.0,0.0
497,SunWave,Solar,391.0,Norte,31.7,7.9,6.1,35.1,3375.0,2015.0,1.0
498,Solaris,Eólica,525.0,Sur,27.4,NaN,20.1,NaN,3691.0,2010.0,0.0
499,SunWave,Solar,112.0,Norte,18.2,10.8,9.0,98.2,2337.0,2020.0,1.0

In [3]:
data.describe()

,Producción (MW),Temperatura (°C),Luz Solar (Horas),Velocidad del Viento (m/s),Humedad (%),Costo de Producción ($/MW),Año de Instalación,Supervivencia (Rentable en 10 años)
count,456.000000,408.000000,438.000000,476.000000,416.000000,453.000000,457.000000,475.000000
mean,521.932018,25.023284,10.063014,14.053151,59.787981,2300.973510,2012.921225,0.581053
std,285.320537,8.668811,2.902623,6.348365,23.617587,1025.234918,5.555771,0.493907
min,50.000000,10.100000,5.100000,3.000000,20.000000,502.000000,2005.000000,0.000000
25%,266.500000,17.375000,7.500000,9.100000,40.650000,1374.000000,2010.000000,0.000000
50%,549.500000,24.900000,10.200000,13.950000,59.550000,2373.000000,2015.000000,1.000000
75%,765.000000,32.350000,12.600000,19.600000,80.400000,3177.000000,2020.000000,1.000000
max,999.000000,40.000000,15.000000,25.000000,99.600000,3997.000000,2020.000000,1.000000

In [4]:
total_de_celdas = len(data.columns)*len(data)
celdas_nulas = data.isnull().sum().sum()

In [5]:
porcentaje = (celdas_nulas/total_de_celdas)*100
porcentaje

9.945454545454545

In [6]:
data.shape[0]*data.shape[1]

5500

In [7]:
data['Producción (MW)'].fillna(data['Producción (MW)'].mean(), inplace=True)

In [8]:
data.isnull().sum()

Planta Energética                      55
Tipo de Energía                        56
Producción (MW)                         0
Región                                 15
Temperatura (°C)                       92
Luz Solar (Horas)                      62
Velocidad del Viento (m/s)             24
Humedad (%)                            84
Costo de Producción ($/MW)             47
Año de Instalación                     43
Supervivencia (Rentable en 10 años)    25
dtype: int64

In [9]:
data['Temperatura (°C)'].fillna(data['Temperatura (°C)'].median(), inplace=True)

In [10]:
data.isnull().sum()

Planta Energética                      55
Tipo de Energía                        56
Producción (MW)                         0
Región                                 15
Temperatura (°C)                        0
Luz Solar (Horas)                      62
Velocidad del Viento (m/s)             24
Humedad (%)                            84
Costo de Producción ($/MW)             47
Año de Instalación                     43
Supervivencia (Rentable en 10 años)    25
dtype: int64

In [11]:
tabla_nueva = data.dropna(subset=['Temperatura (°C)','Región','Luz Solar (Horas)'])

In [12]:
X = pd.get_dummies(tabla_nueva[['Temperatura (°C)', 'Región']])
y = tabla_nueva['Luz Solar (Horas)']

In [13]:
modelo = LinearRegression()
modelo.fit(X, y)

LinearRegression()

In [28]:
tabla_nulos_luz_solar = data[data['Luz Solar (Horas)'].isnull()]
if not tabla_nulos_luz_solar.empty:
    X_nulos_solares = pd.get_dummies(tabla_nulos_luz_solar[['Temperatura (°C)', 'Región']])
    predicciones = modelo.predict(X_nulos_solares)
    data.loc[data['Luz Solar (Horas)'].isnull(),'Luz Solar (Horas)'] = predicciones

In [29]:
data.isnull().sum()

Planta Energética                      55
Tipo de Energía                        56
Producción (MW)                         0
Región                                 15
Temperatura (°C)                        0
Luz Solar (Horas)                       0
Velocidad del Viento (m/s)             24
Humedad (%)                            84
Costo de Producción ($/MW)             47
Año de Instalación                     43
Supervivencia (Rentable en 10 años)    25
dtype: int64

In [32]:
data

,Planta Energética,Tipo de Energía,Producción (MW),Región,Temperatura (°C),Luz Solar (Horas),Velocidad del Viento (m/s),Humedad (%),Costo de Producción ($/MW),Año de Instalación,Supervivencia (Rentable en 10 años)
0,SolarFlow,Hidráulica,379.000000,Norte,15.6,5.800000,17.0,59.7,3204.0,2010.0,0.0
1,SunWave,NaN,834.000000,Oeste,33.4,5.900000,NaN,42.7,NaN,2020.0,0.0
2,EcoWind,Solar,557.000000,Norte,20.5,13.900000,11.7,NaN,869.0,2010.0,1.0
3,SolarFlow,Hidráulica,901.000000,Este,11.7,6.900000,23.1,NaN,2318.0,2005.0,1.0
4,NaN,NaN,118.000000,Norte,24.9,10.415929,14.7,24.3,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...
495,SolarFlow,Solar,521.932018,Este,13.9,7.000000,15.2,51.9,2114.0,2015.0,1.0
496,HydroFlux,NaN,679.000000,Sur,24.9,10.200000,NaN,87.2,2040.0,2005.0,0.0
497,SunWave,Solar,391.000000,Norte,31.7,7.900000,6.1,35.1,3375.0,2015.0,1.0
498,Solaris,Eólica,525.000000,Sur,27.4,10.261684,20.1,NaN,3691.0,2010.0,0.0
499,SunWave,Solar,112.000000,Norte,18.2,10.800000,9.0,98.2,2337.0,2020.0,1.0

In [38]:
data_eliminados = data.dropna(subset=['Región'])

In [40]:
data_eliminados['Región'].isnull().sum()

0

In [41]:
data_eliminados_te = data.copy()

In [51]:
data_eliminados_te['Tipo de Energía'].mode()[0]

'Solar'

In [43]:
data_eliminados_te['Tipo de Energía'].fillna(data_eliminados_te['Tipo de Energía'].mode()[0], inplace=True)

In [45]:
data_eliminados_te['Tipo de Energía'].isnull().sum()

0

In [46]:
data['Tipo de Energía'].fillna(data['Tipo de Energía'].mode()[0], inplace=True)

In [47]:
data['Tipo de Energía'].isnull().sum()

0